body, html {
  height: 100%;
}

.App {
  height: 100%;
  text-align: center;
}

#root {
  height: 100%;
}
video {
  height: 100%;
}

.form {
  padding: 20px
}

.form label {
  display: block;
}

.form input {
  margin-bottom: 20px;
}
